@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 100%;
    background-color: #f5faf8;
}

/* Info Section */
.info_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info_section img{
    width: 600px;
}
.info_section h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.info_section a{
    text-decoration: none;
    cursor: pointer;
}
.info_section i{
    color: #0367F2;
    font-size: 20px;
}

.info_section p{
    font-size: 20px;
    font-weight: 700;
}

/* Form Section */
.form_section{
    background: #fff;
    padding: 10px 30px;
}

.form_section h4{
    text-align: right;
}

.form_section span {
    color: #0367F2;
}

.form_section h1{
    margin: 0 0 30px 0;
    line-height: 5px;
}

.form_group{
    margin-bottom: 20px;
}

.form_group.form_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.input_box{
    display: flex;
    flex-direction: column;
}

.input_box label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.input_box input,
.input_box select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #0367F2;
}

.terms{
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    color: #718096;
}

.terms a{
    color: #0367F2;
    text-decoration: none;
    font-weight: 500;
}

.terms a:hover{
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #0367F2;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
}

button i {
    margin-left: 10px;
}
button:hover {
    background-color: #2580ff;
}

@media (max-width: 1024px){
    .container{
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .info_section {
        display: none;
    }

    .form_section{
        width: 100%;
        margin-bottom: 150px;
    }

    .form_section h4{
        text-align: center;
    }

    .form_group.form_grid {
        grid-template-columns: 1fr;
    }
}
